/*          Index Page Styling      */

/*          Font imports            */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poiret+One&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 15px;
    width: 100%;
    line-height:1.15;
    -webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue" ,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

:root{
	--light-shade: #f6e2de; /* Earthborn */
	--light-accent: #D99C4D;
    --primary-brand-color: #f67599; /* Paradise Pink */
	--dark-accent: #B66E6B; /* Terra Tone	*/
    --dark-shade: #463432; /* Levis Lush Lulac	*/

	/* --light-shade: #FFEEEB; */
	/* --dark-accent: #684F49; */
    
}


body{
	padding: 0;
	height: 100%;
    background-color: #fff7f6;
    overflow: hidden;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .7rem 2rem;
    background-color: #fff7f6;
}

.logo-container{
    padding-top: .7rem;
}
.logo{
    color: var(--dark-shade);
    font-weight: bold;
    font-size: 1.9rem;
    font-family: 'Give You Glory';
}
.nav-links{
    display: none;
    flex-direction: row;
    margin-right: 1.3rem;
}

.nav-links .links-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: .7rem 1.3rem 0 0;
}

.links-ul li{
    color: var(--dark-shade);
    font-size: 1.2rem;
    font-weight: 550;
    margin-right: 1.7rem;
}

#active-link{
    color: var(--primary-brand-color);
}

#link-book{
    margin: .5rem 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2.5rem;
    background-color: var(--dark-accent);
    color: #FEFAF9;
    font-weight: 600;
    transition: ease .4s;
    cursor: pointer;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.content-container{
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 5px 5px 15px #838383;
    width: 80%;
    height: 28rem;
}
.model-container{

}

.model-image-container{
    background: url('../images/model-background-03.jpeg') no-repeat;
    background-size: cover;
    width: 30%;
}

#coming-container{
    width: 70%;
    background-color: #ffeae6;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.coming-soon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.coming-header{
    color: var(--dark-shade);
    font-family: 'Hachi Maru Pop';
    text-transform: uppercase;
	font-size: 3rem;
	z-index: 3;
}

.coming-subtext{
	font-family: sans-serif;
	font-size: 1.4rem;
}

.form-container{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
	position: relative;
	z-index: 3;
	padding-top: 4rem;
}

.input-form{
	padding-left:  10px;
	background: #FFF;
    color: var(--dark-shade);
	border: 1px solid #ffa390;
	width: 19rem;
	height: 2.3rem;
	margin: 5px -.3rem 0 0;
}

.input-form::placeholder{
    color: var(--dark-shade);
}

.submit-form{
	background: #ffa390;
	color: #FFF;
	border: none;
	width: 9.3rem;
    height: 2.3rem;
	transform: translateY(1px);
	font-weight: bold;
}

.fa-paper-plane{
	font-size: 1.2rem;
}

.countdown-container{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: relative;
	z-index: 3;
	margin-top: 3vh;
}

.time-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 2.3rem;
    border: 1px solid var(--dark-shade);
    width: 8rem; height: 8rem;
    border-radius: 50%;
}

.time-display{
	align-self: center;
	font-size: 2.5rem;
	font-family: 'Poiret One', sans-serif;
	color: var(--dark-shade);
}

.time-subtext{
    color: var(--dark-shade);
	align-self: center;
	font-weight: 550;
    margin-top: 1rem;
}


.contact-container{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 2rem;
}

.contact-container i{
	font-size: 1.7rem;
	color: var(--dark-shade);
	margin-right: 20px;
	position: relative;
	z-index: 3;
}

.form-subtext{
	font-size: .9rem;
	color: var(--dark-shade);
	margin: .6rem 20px 0 0;
	position: relative;
	z-index: 3;
}


.shapes-random{
    position: absolute;
    z-index: 2;
    width: 8rem;
    height: 8rem;
}

#shape-01{
    top: -3rem;
    left: -3rem;
    border: 1rem solid #B66E6B;
    border-radius: 50%;
}

#shape-02{
    top: -3rem;
    right: -3rem;
    border: 1rem solid #f67599;
}

#shape-03{
    bottom: -1rem;
    left: -3rem;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid#D99C4D;
    transform: rotate(-90deg);
}

#shape-04{
    bottom: 2rem;
    right: .5rem;
    border-radius: 50%;
    box-shadow: 1.5rem 1.5rem 0 0 #ffa390;
    /* transform: rotate(180deg); */
}

@media only screen and (max-width: 768px){
	.main-container{
		flex-direction: column;
	}
	.coming-container{
	    width: 100%;
	    display: flex;
	    justify-content: center;
	}

	.coming-header{
		font-size: 4.8rem;
	}

	.coming-subtext{
		font-size: 1.4rem;
	}

	.form-container{
	    display: flex;
	    justify-content: center;
	    flex-flow: column wrap;
		position: relative;
		z-index: 3;
		width: 100%;
	}
}